@page "/home"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banu's Google</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" />
</head>
<body>
    <header class="header">
        <div class="left">
        </div>
        <div class="right">
            <p class="user"><i class="fas fa-user-circle"></i></p>
        </div>
    </header>

    <section class="main">
        <img src="https://www.google.fr/images/branding/googlelogo/2x/googlelogo_color_160x56dp.png" alt="">

        <div class="form-group">
            <input type="texte">
            <label><i class="fas fa-microphone"></i></label>
        </div>

        <div class="buttons">
            <button>Google Search</button>
            <button>I'm Feeling Lucky</button>
        </div>
    </section>
</body>
</html>

@code {

}
